.CollectedPokemonContainer {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;

  .PokeDex-entry {
    text-align: center;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .amount {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

//Nested Modal, if you click on a pokemon in pokedex. This will render.
.nestedModal {
  .header {
    display: flex !important;
    flex-direction: column !important;
    color: #fff;
    .modal-title {
      width: 100%;
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .mid {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 200px !important;
        }
      }

      .bot {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  //HeaderRow
  &-header-row {
    border-bottom: 4px solid gainsboro;
    text-align: center;
    .active {
      opacity: 100%;
    }
    h4 {
      cursor: pointer;
      opacity: 50%;
    }
  }

  //ContentRow
  &-content-row {
    font-size: 22px;
    .box-col {
      margin: 8px 0;
    }

    .Stats {
      position: relative;
      /*  margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */
    }
  }

  //Modalbody
  &-body {
    min-height: 450px;

    .stat-about-answer {
      font-weight: 400;
    }
  }
}

.pokedex {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 20px;
  }
}
