.collectedPokemonContainer {
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.nestedModal {
  .modal-title {
    color: #fff;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }
}
