.pokeCard {
  min-width: 240px;
  min-height: 366px;

  .pokeImg {
    background-color: rgb(38, 150, 248);
  }
}

.hiddenCard {
  min-width: 240px;
  min-height: 366px;
  background-color: rgb(87, 4, 4);

  img {
    width: 100%;
  }
}
