.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;

  .Dashboard-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: row;

      .logotype {
        margin-bottom: 10rem;
        img {
          width: 300px;
          height: 250px;
        }
      }

      .controls {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .pack {
          background: none;
          border: none;
          position: relative;

          span {
            color: #000;
            font-size: 20px;
          }

          &.disabled {
            .shroud {
              height: 100%;
              position: absolute;
              text-decoration: none;
              top: 0;
              left: 0;
              width: 100%;
              background-color: rgba($color: #000000, $alpha: 0.2);
            }
          }

          img {
            width: 180px;
            height: 180px;
            cursor: pointer;
          }
        }

        .bag {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 180px;
            height: 180px;
            cursor: pointer;
          }

          span {
            font-size: 20px;
          }
        }
      }
    }
    .bot {
      margin-top: 200px;
      .pokemon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 28px;
      }
      .row {
        margin-bottom: 1.5rem;
      }
    }
  }
}
